#nav-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-height: 40vh;
    padding-top: 1%;
    padding-bottom: 1%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

#nav-button-container button {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    min-width: 15%;
    max-width: 15%;
}

#unassigned-tasks-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 15vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#unassigned-tasks-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: green;
    color: white;
}

#live-support-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 15vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#live-support-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: green;
    color: white;
}

#networking-image {
    margin-left: -1%;
}

#add-employee-main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border-radius: 5px;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#add-employee-main-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: green;
    color: white;
}