#nav-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    max-height: fit-content;
    max-width: 100%;
    padding-top: 2%;
    box-sizing: border-box;
}

#nav-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 10vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    max-width: 20%;
}

#unassigned-tasks-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: #e6b17f;
    color: white;
}

#live-support-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: #e6b17f;
    color: white;
}

#networking-image {
    margin-left: -1%;
}

#add-employee-main-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: #e6b17f;
    color: white;
}
