@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Gloria+Hallelujah&family=Macondo+Swash+Caps&display=swap');

#nav-button-container {
    position: absolute;
    z-index: 30;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

#nav-button-container button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    background-color: #f5f5dc;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 600;
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.2s;
}

#nav-button-container button:hover {
    color: #00d4ff;
    cursor: url("../../assets/click.png"), pointer;
}

#unassigned-tasks-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: #e6b17f;
    color: white;
}

#live-support-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: #e6b17f;
    color: white;
}

#add-employee-main-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: #e6b17f;
    color: white;
}

.glow-on-entry {
      width: 220px;
      height: 50px;
      position: relative;
      z-index: 0;
      border-radius: 10px;
  }

  .glow-on-entry:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }

  .glow-on-entry:active {
      color: #000
  }

  .glow-on-entry:active:after {
      background: transparent;
  }

  .glow-on-entry:hover:before {
      opacity: 1;
  }

  .glow-on-entry:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 10px;
  }

  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }
