@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 100%;
    background-image: url('./assets/signup-login-page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#application-logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
}

#nav-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 8vh;
    padding-top: 1%;
    padding-bottom: 1%;
    box-sizing: border-box;
}

#nav-button-container button {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.stand-out {
    color: black;
    font-weight: 800;
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#application-title-heading {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #EAB581;
    padding-bottom: 2%;
    text-shadow: 1px 1px 2px brown;
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

#user-welcome-heading {
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 800;
    color: green;
    animation-duration: 5s;
    animation-name: slidein;
}

#position-at-company-heading {
     font-family: "Protest Guerrilla", sans-serif;
     font-size: 25px;
     font-weight: 800;
     font-style: normal;
     color: green;
     animation-duration: 5s;
     animation-name: slidein;
}

#info-heading {
    font-size: 18px;
    font-weight: 800;
    color: green;
    animation-duration: 5s;
    animation-name: slidein;
}

#unassigned-tasks-info-heading {
    font-size: 18px;
    font-weight: 800;
    color: green;
    animation-duration: 5s;
    animation-name: slidein;
}

#logout-button {
    border-radius: 5px;
    height: 11vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#live-support-button {
    border-radius: 5px;
    height: 11vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#my-tasks-button {
    border-radius: 5px;
    height: 11vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#employee-directory-button {
    border-radius: 5px;
    height: 11vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#unassigned-tasks-button {
    border-radius: 5px;
    height: 11vh;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#logout-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

#live-support-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

#my-tasks-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

#employee-directory-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

#unassigned-tasks-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

#add-employee-main-button {
    height: 11vh;
    border-radius: 5px;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#add-employee-main-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

#nav-button-container button {
    min-width: 25%;
    max-width: 25%;
}

#main-profile-pic img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 50%;
    animation-duration: 5s;
    animation-name: slidein;
}
