@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Gloria+Hallelujah&family=Macondo+Swash+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#application-logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    animation-duration: 5s;
    animation-name: slidein;
}

#drop-down-housing-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-height: 65vh;
    overflow: auto;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    min-height: 13rem;
    max-height: 13rem;
    background-color: rgba(0, 100, 0, 0.85);
    box-sizing: border-box;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.close-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
  }

.stand-out {
    color: black;
    font-weight: 800;
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

#user-welcome-heading {
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    color: #e6b17e;
}

#position-at-company-heading {
     font-family: "Protest Guerrilla", sans-serif;
     font-size: 25px;
     font-weight: 600;
     font-style: normal;
     color: #e6b17e;
}

#info-heading {
    font-size: 18px;
    font-weight: 800;
    color: #e6b17e;
}

#unassigned-tasks-info-heading {
    font-size: 18px;
    font-weight: 800;
    color: red;
}

#main-profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #b8b8b8, -10px -10px 20px #ffffff;
}

#sticky-nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: green;
    border-radius: 20px;
    border: 3px solid black;
    margin-bottom: 2%;
    max-width: 100%;
}

.glow-on-enters {
    width: 220px;
    height: 50px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-enters:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-enters:active {
    color: #000
}

.glow-on-enters:active:after {
    background: transparent;
}

.glow-on-enters:hover:before {
    opacity: 1;
}

.glow-on-enters:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.background1 {
    background-image: url('./assets/custom-backgrounds/bug-background-with-dev.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.background2 {
    background-image: url('./assets/custom-backgrounds/bug-code-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.background3 {
    background-image: url('./assets/custom-backgrounds/colorful-web-bug-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.background4 {
    background-image: url('./assets/custom-backgrounds/issue-insight-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.background5 {
    background-image: url('./assets/custom-backgrounds/matrix-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.background6 {
    background-image: url('./assets/custom-backgrounds/minimal-bug-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.background-default {
    background-image: url('./assets/signup-login-page-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.7;
}
