@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Gloria+Hallelujah&family=Macondo+Swash+Caps&display=swap');

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    background-image: url('./assets/signup-login-page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#application-logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    animation-duration: 5s;
    animation-name: slidein;
}

#drop-down-housing-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-height: 65vh;
    overflow: auto;
    box-sizing: border-box;
}

.stand-out {
    color: black;
    font-weight: 800;
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#application-title-heading {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #EAB581;
    padding-bottom: 2%;
    text-shadow: 1px 1px 2px brown;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

#user-welcome-heading {
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    color: #e6b17e;
}

#position-at-company-heading {
     font-family: "Protest Guerrilla", sans-serif;
     font-size: 25px;
     font-weight: 600;
     font-style: normal;
     color: #e6b17e;
}

#info-heading {
    font-size: 18px;
    font-weight: 800;
    color: #e6b17e;
}

#unassigned-tasks-info-heading {
    font-size: 18px;
    font-weight: 800;
    color: red;
}

#main-profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #b8b8b8, -10px -10px 20px #ffffff;
}

#sticky-nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: green;
    border-radius: 20px;
    border: 3px solid black;
    margin-bottom: 2%;
    max-width: 100%;
}
