@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

#not-found-header {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: black;
    padding-bottom: 2%;
}

#not-found-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#not-found-image {
    width: 70%;
    border-radius: 5px;
    padding-bottom: 2%;
}