#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 80%;
    padding-right: 80%;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 10px;
    gap: 30px;
    background-color: beige;
    width: 75%;
    height: 50vh;
    border: 2px solid black;
}

#landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-user-button {
    cursor: url("../../assets/click.png"), pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 8%;
    margin-bottom: 8%;
    height: 5vh;
}

#form-header {
    font-size: 25px;
    padding-bottom: 10%;
    font-weight: 800;
    color: #EAB581;
}

#new-user-button:hover {
    cursor: url("../../assets/click.png"), pointer;
    background-color: green;
    color: white;
}

.btn {  
    font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;
}  

.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  

.btn-layered-3d > ::before {  
    box-sizing: border-box;
}  

.btn-layered-3d {  
    width: 180px;  
    position: relative;  
    display: inline-block;  
    cursor: url("../../assets/click.png"), pointer;
    outline: none;  
    border: 0px;  
    vertical-align: middle;  
    text-decoration: none;  
    font-size: inherit;  
    font-family: inherit;  
    font-weight: 600;  
    text-transform: uppercase;  
    padding: 1em 2em;  
    border-radius: 0.75em;  
    transform-style: preserve-3d;  
    transition: transform 0.15s ease-out, background 0.15s ease-out;
}  

.btn-layered-3d::before {  
    position: absolute;  
    content: "";  
    width: 100%;  
    height: 100%;  
    inset: 0px;  
    border-radius: inherit;  
    transform: translate3d(0px, 0.75em, -1em);  
    transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
}  

.btn-layered-3d:hover {  
    transform: translateY(0.25em);
    cursor: url("../../assets/click.png"), pointer;
}  

.btn-layered-3d:hover::before {  
    transform: translate3d(0px, 0.5em, -1em);
}  

.btn-layered-3d--green {  
    color: white;  
    background: green;  
    border: 2px solid rgb(59, 165, 84);
}
  
.btn-layered-3d--green::before {  
    background: rgb(158, 220, 172);  
    box-shadow: rgb(59, 165, 84) 0px 0px 0px 2px, rgb(233, 247, 236) 0px 0.625em 0px 0px;
}  

.error-message {
    text-align: center;
    width: 200px;
    color: red;
    font-size: 15px;
    font-weight: 800;
}

#landing-page-avatar img {
    width: 150px;
    height: 150px;
}

#landing-page-avatar {
    border-radius: 10px;
}