#employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    background-color: beige;
    border: 2px solid black;
}

label, input, select {
    margin-bottom: 20%;
    padding: 5%;
}

#add-employee-button {
    width: 100%;
    border-radius: 5px;
}

#add-employee-button:hover {
    cursor: pointer;
    background-color: green;
}

#access-code {
    font-weight: 800;
}

#admin-label {
    height: 8vh;
}