#employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    border-radius: 10px;
    height: 100%;
    background-color: beige;
    border: 2px solid black;
}

input, select {
    margin-bottom: 20%;
    padding: 5%;
}

#upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar-pic img {
    width: 200px;
    height: 200px;
}

#add-employee-button {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
}

#add-employee-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

#access-code {
    font-weight: 800;
}

#admin-label {
    height: 8vh;
}

#access-code-container {
    padding-bottom: 4%;
}
