#employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    background-color: beige;
    border: 2px solid black;
}

label, input, select {
    margin-bottom: 20%;
    padding: 5%;
}

#add-employee-button {
    width: 100%;
    border-radius: 5px;
}

#add-employee-button:hover {
    cursor: pointer;
    background-color: green;
}
