@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

#task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 45vh;
    min-width: 75%;
    max-width: 75%;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-color: beige green;
    scrollbar-width: auto;
    padding: 2%;
    margin-bottom: 2%;
    gap: 5px;
    background-image: url('../../assets/green-ribbons.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid black;
}
  
.task {
    min-width: 50%;
    max-width: 50%;
}

hr {
    width: 50%;
    border: none;
    height: 3px;
    background-color: black;
}

#task-list-filter-container {
    padding-top: 2%;
}

#filterTasks {
    background-color: green;
    font-size: 15px;
}

#heading-above-tasks {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: black;
    padding-bottom: 2%;
}
