.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    background-color: #E6B17E;
    padding: 80px;
    border-radius: 5px;
  }

  .delete-button {
    cursor: url("../../assets/click.png"), pointer;
    background-color: red;
    color: black;
    border-radius: 10px;
  }

  .confirm-button {
    cursor: url("../../assets/click.png"), pointer;
    background-color: green;
    color: black;
    border-radius: 10px;
  }

  .cancel-button {
    cursor: url("../../assets/click.png"), pointer;
    background-color: yellow;
    color: black;
    border-radius: 10px;
  }

  .dialog-question {
    padding-bottom: 2%;
    color: red;
  }
