#employee-directory-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
}

#employee-directory-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    max-width: 100%;
}

.employee {
    width: 40%;
    background-color: beige;
}

#employee-directory-heading {
    text-align: center;
    padding-bottom: 2%;
    font-weight: 800;
}
