@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

#employee-directory-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
}

#employee-directory-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    max-width: 100%;
    padding-bottom: 2%;
}

.employee {
    width: 40%;
    background-color: beige;
}

#employee-directory-heading {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: black;
    padding-bottom: 2%;
    text-align: center;
}
