@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');


#menu-icon {
    width: 50px;
    height: 50px;
}

#menu-toggle-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    background-color: green;
}

#menu-button-heading {
    font-size: 1.5rem;
    font-family: "Honk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

#menu-toggle-button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 8px #BC8B5D, 10px 10px 8px #81532d, 15px 15px 8px green;
}

#drop-down-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 5px solid yellow;
    box-sizing: border-box;
    background-color: #81532d;
}

#drop-menu-container {
    display: flex;
    flex-direction: column;
    border: 7px solid red;
    width: 15%;
    height: fit-content;
    background-color: #e6b17e;
}

#close-button-icon {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
}

#close-button-icon:hover {
    cursor: pointer;
    box-shadow: 5px 5px 8px green, 10px 10px 8px darkgreen, 15px 15px 8px lightgreen;
}
