@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+FR+Trad:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+FR+Trad:wght@100..400&family=Tiny5&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Honk&family=Playwrite+FR+Trad:wght@100..400&family=Tiny5&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Macondo+Swash+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Gloria+Hallelujah&family=Macondo+Swash+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Gloria+Hallelujah&family=Macondo+Swash+Caps&family=Noto+Sans+Egyptian+Hieroglyphs&display=swap');

#chat-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    min-height: 50vh;
    max-height: 50vh;
    box-sizing: border-box;
    padding: 2%;
}

#messages-container {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    min-width: 75%;
    padding: 0.5%;
    overflow: scroll;
    scrollbar-color: beige green;
    scrollbar-width: auto;
    background-image: url('../../assets/wooden-desk-background-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    color: white;
    box-sizing: border-box;
}

#message-options-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 1%;
}

.not-allowed {
    cursor: not-allowed; /* Standard "forbidden" cursor */
    opacity: 0.5;
}

.allowed {
    cursor: url('../../assets/click.png'), pointer; /* Custom cursor with fallback */
}

#clear-button-container {
    display: flex;
    padding-top: 1%;
    min-width: 25%;
    max-width: 25%;
}

#clear-button-container img {
    padding-right: 8%;
    padding-top: 2%;
    width: 50px;
    height: 50px;
}

#clear-messages-button {
    height: 40%;
    max-width: 100%;
    min-width: 50%;
    background-color: beige;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

#clear-messages-button:hover {
    cursor: url('../../assets/click.png');
    background-color: green;
    color: white;
}

.message-container {
    display: flex;
    padding: 1%;
    font-size: 2rem;
}

.message-time {
    padding-right: 2%;
}

.user-id-container {
    display: flex;
    gap: 25px;
    padding-right: 3%;
}

.message-content {
    color: yellow;
}

#users-online-container {
    max-width: 25%;
    min-width: 25%;
    height: 42vh;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-color: beige green;
    scrollbar-width: auto;
    background-image: url('../../assets/online-users-background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    mix-blend-mode: multiply;
}

#users-online-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.online-user {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.95rem;
    padding: 2%;
}

.online-user img {
    width: 50px;
    height: 50px;
}

#users-online-heading {
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

#support-heading {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.95rem;
    padding: 2%;
}

#support-heading-subtext {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 2%;
}

#form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#message-input-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    box-sizing: content-box;
}

#select-font-container {
    display: flex;
    align-items: center;
    min-width: fit-content;
    box-sizing: border-box;
}

#select-font-container img {
    width: 50px;
    height: 50px;
    padding-bottom: 15%;
    padding-right: 5%;
}

#font {
    background-color: green;
    min-width: fit-content;
}

#text {
    width: 100%;
    background-color: beige;
    box-sizing: border-box;
}

#select-font-container option {
    font-size: 1rem;
}

#submit-button {
    border-radius: 5px;
    height: 5vh;
    width: 100%;
    background-color: beige;
    font-size: 1rem;
    font-weight: 600;
}

#submit-button:hover {
    cursor: url("../../assets/click.png"), pointer;
    background-image: url("../../assets/resend.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: green;
    color: white;
}

.egyptian-hieroglyphs-font {
    font-family: "Noto Sans Egyptian Hieroglyphs", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.handwriting-font {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.playful-font {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

.fancy-font {
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

.handwriting-font {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.cursive-font {
    font-family: "Playwrite FR Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.terminal-font {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.colorful-font {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

#profile-thumbnail {
    display: flex;
}

#username-container {
    display: flex;
}

#profile-thumbnail img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#typing-indicator {
    display: flex;
    padding-left: 2%;
    min-width: 100%;
    max-width: 100%;
    height: fit-content;
    box-sizing: border-box;
    font-style: italic;
    font-size: 2rem;
    color: green;
}

#typing-indicator-animation {
    display: flex;
    justify-content: flex-start;
    min-width: fit-content;
    max-width: 100%;
    height: 5vh;
}
