#my-tasks-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f5f5dc;
    font-size: 1rem;
    font-weight: 600;
}

#my-tasks-button:hover {
    cursor: url("./assets/click.png"), pointer;
    background-color: #e6b17f;
    color: white;
}
