@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

#badge-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-evenly;
    box-sizing: border-box;
    min-width: fit-content;
    min-height: fit-content;
    box-sizing: border-box;
}

#form-update-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 100%;
    min-height: 100%;
}

#all-badges-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: fit-content;
    box-sizing: border-box;
    padding-bottom: 1%;
    min-height: 100%;
}

#access-code-container {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    min-height: fit-content;
    justify-content: center;
}

#profile-image {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    min-height: fit-content;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#profile-image img {
    vertical-align: middle;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#form-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    min-height: fit-content;
}

#access-code-container p {
    padding-bottom: 4%;
}

#close-update-button {
    border-radius: 5px;
}

#close-update-button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

#badge-name-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    min-width: fit-content;
    min-height: fit-content;
}

#badge-name-container p {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.95rem;
    padding-bottom: 9%;
}

#badge-personal-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 4%;
    min-width: fit-content;
    min-height: fit-content;
}

#badge-personal-info-container p {
    padding-bottom: 4%;
}

#badge-other-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4%;
    min-width: fit-content;
    min-height: fit-content;
}

#badge-other-info-container p {
    padding-bottom: 4%;
}

#badge-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    box-sizing: border-box;
    min-height: 100%;
}

#badge-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: grey;
    color: white;
    padding-left: 3%;
    min-height: fit-content;
}

.label {
    font-weight: 800;
}

#remove-employee-button {
    min-height: 5vh;
    min-width: fit-content;
    border-radius: 10px;
}

#remove-employee-button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

#edit-employee-button {
    min-height: 5vh;
    min-width: fit-content;
    border-radius: 10px;
}

#edit-employee-button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}
