#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 13vh;
    background-color: rgba(0, 100, 0, 0.5);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

#app-info-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 12%;
    max-width: 12%;
    min-height: 13vh;
    color: black;
    gap: 8px;
    box-sizing: border-box;
    padding: 10px;
}

#tagline-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 12%;
    max-width: 12%;
    min-height: 13vh;
    max-height: 13vh;
    color: black;
    gap: 8px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

#tagline-container-footer img {
    width: 40%;
}

#tech-specs-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 13%;
    max-width: 13%;
    min-height: 13vh;
    color: black;
    gap: 8px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#footer a {
    color: #edc8a4;
    font-weight: 800;
    text-decoration: none;
}

#footer a:hover {
    color: blue;
}
